<form action="" method="post">
    <div class="msg"></div>
    <label>Empresa:</label>
    <input class="form-control" type="text" ng-model="item.empresa">
    <label>CNPJ:</label>
    <input class="form-control" type="text" ng-model="item.cnpj">
    <label>Data de Inicio:</label>
    <input class="form-control" type="date" ng-model="item.dataDeInicio" >
    <label>Data de Entrega:</label>
    <input class="form-control" type="date" ng-model="item.dataDeEntrega">
    <label>Status:</label>
    <input class="form-control" type="text" ng-model="item.status">
    <label>Endereço:</label>
    <input class="form-control" type="text" ng-model="item.endereco">
    
    </form>