
<div class="row">
    <div class="col-md-6">
        <h3>Cadastro de Funcionarios</h3>
    </div>
    <div class="col-md-2">
        <select class=" form-control printConf" ng-model="filtroStatus" ng-change="filter(filtroStatus)">
            <option value="sem-filtro">Sem Filtro</option>
            <option value="ativo">Ativos</option>
            <option value="inativo">Inativos</option>
        </select> 
    </div>
    <div class="col-md-4 text-right d-print-none">
        <button class="btn btn-info" ng-click="generatePDF()"> <i class="fa fa-list-alt"></i> Relatório</button>
        <button class="btn btn-success notPrint" ng-click="send('add')"> <i class="fa fa-check"></i> Cadastrar Novo</button>
    </div>
</div>
<br>

<table class="table" id="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>NOME</td>
            <td>DataNacimento</td>
            <td>CPF</td>
            <td>Genero</td>
            <td>Cargo</td>
            <td>Celular</td>
            <td>Status</td>
            <td class="d-print-none" ></td>
            <td class="d-print-none"></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in grid" >
            <td>{{x.id_employee}}</td>
            <td>{{x.name}}</td>
            <td>{{ formatarData(x.birth_date) }}</td>
            <td>{{x.cpf}}</td>
            <td>{{x.gender}}</td>
            <td>{{x.charge}}</td>
            <td>{{x.phone}}</td>
            <td>{{x.status}}</td>
            <td width="270" class="d-print-none">
                <button class="btn btn-info notPrint" ng-click="send($index, x)"> <i class="fa fa-edit"></i> Editar</button>
                <button class="btn btn-danger notPrint" ng-click="del($index, x)"> <i class="fa fa-times"></i> Deletar</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-print-block" style="text-align: center; padding: 10px; display: none;">
    Data de Geração: <span id="dataGeracao"></span>
</div>
