
<div class="row">
    <div class="col-md-6">
        <h3>Cadastro de Funcionarios</h3>
    </div>
    <div class="col-md-2">
        <select class=" form-control printConf" ng-model="filtroStatus" ng-change="filter(filtroStatus)">
            <option value="sem-filtro">Sem Filtro</option>
            <option value="ativo">Ativos</option>
            <option value="inativo">Inativos</option>
        </select> 
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-info" ng-click="generatePDF()">PDF</button>
        <button class="btn btn-success notPrint" ng-click="send('add')">Cadastrar Novo</button>
    </div>
</div>
<br>

<table class="table" id="table">
    <thead class="printConf">
        <tr>
            <td>Id</td>
            <td>NOME</td>
            <td>DataNacimento</td>
            <td>CPF</td>
            <td>Genero</td>
            <td>Cargo</td>
            <td>Celular</td>
            <td>Status</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody class="printConf">
        <tr ng-repeat="x in grid" >
            <td>{{x.id_employee}}</td>
            <td>{{x.name}}</td>
            <td>{{ formatarData(x.birth_date) }}</td>
            <td>{{x.cpf}}</td>
            <td>{{x.gender}}</td>
            <td>{{x.charge}}</td>
            <td>{{x.phone}}</td>
            <td>{{x.status}}</td>
            <td width="200">
                <button class="btn btn-info notPrint" ng-click="send($index, x)">Editar</button>
                <button class="btn btn-danger notPrint" ng-click="del($index, x)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>
