<form action="" method="post">
    <div class="msg"></div>
    <label>Id Obra:</label>
    <input class="form-control" type="text" ng-model="item.id_construction">
    <label>Id Recurso:</label>
    <input class="form-control" type="text" ng-model="item.id_resource">
    <label>Data de Alocação:</label>
    <input class="form-control" type="date" ng-model="item.allocation_date" >
    <label>Data de Devolução:</label>
    <input class="form-control" type="date" ng-model="item.devolution_date">
</form>