<form action="" method="post">
<div class="msg"></div>
<label>Nome do Recusso:</label>
<input class="form-control" type="text" ng-model="item.name">
<label>Marca:</label>
<input class="form-control" type="text" ng-model="item.marca">
<label>Data da Compra:</label>
<input class="form-control" type="date" ng-model="item.dataCompra">
<label>Quantidade:</label>
<input class="form-control" type="number" ng-model="item.quantidade">
<label>Tipo do Recurso:</label>
<input class="form-control" type="text" ng-model="item.recurso">


</form>