<form action="" method="post">
<div class="msg"></div>
<label>Id</label>
<input class="form-control" type="text" ng-model="item.id_resource" ng-readonly="true">
<label>Nome do Recusso:</label>
<input class="form-control" type="text" ng-model="item.name">
<label>Marca:</label>
<input class="form-control" type="text" ng-model="item.brand">
<label>Quantidade:</label>
<input class="form-control" type="number" ng-model="item.quantity">
<label>Tipo do Recurso:</label>
<select class="form-control" ng-model="item.type">
    <option value=0>CONSUMIVEL</option>
    <option value=1>FERRAMENTA</option>
    <option value=2>MOBILIZADO</option>
</select>
<label>Data da Compra:</label>
<input class="form-control" type="date" ng-model="item.purchase">
<label>Observação</label>
<input class="form-control" type="text" ng-model="item.observation">
</form>