
<div class="row">
    <div class="col-md-6">
        <h3>Cadastro de Recursos</h3>
    </div>
    <div class="col-md-2">
        <select class=" form-control" ng-model="filtroTipo" ng-change="filter(filtroTipo)">
            <option value="sem-filtro">Sem Filtro</option>
            <option value="CONSUMIVEL">CONSUMIVEL</option>
            <option value="FERRAMENTA">FERRAMENTA</option>
            <option value="MOBILIZADO">MOBILIZADO</option>
        </select> 
    </div>
    <div class="col-md-4 text-right d-print-none">
        <button class="btn btn-info" ng-click="generatePDF()"> <i class="fa fa-list-alt"></i> Relatório</button>
        <button class="btn btn-success" ng-click="send('add')"> <i class="fa fa-check"></i> Cadastrar Novo</button>
    </div>
</div>
<br>

<table class="table" id="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome do Recusso</td>
            <td>Marca</td>
            <td>Quantidade</td>
            <td>Tipo do Recurso</td>
            <td>Data da Compra</td>
            <td>Observação</td>
            <td class="d-print-none"></td>
            <td class="d-print-none"></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in grid">
            <td>{{x.id_resource}}</td>
            <td>{{x.name}}</td>
            <td>{{x.brand}}</td>
            <td>{{x.quantity}}</td>
            <td>{{x.type}}</td>
            <td>{{formatarData(x.purchase)}}</td>
            <td>{{x.observation}}</td>
            <td width="270" class="d-print-none">
                <button class="btn btn-info notPrint " ng-click="send($index, x)"> <i class="fa fa-edit"></i> Editar</button>
                <button class="btn btn-danger notPrint" ng-click="del($index, x)"> <i class="fa fa-times"></i> Deletar</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-print-block" style="text-align: center; padding: 10px; display: none;">
    Data de Geração: <span id="dataGeracao"></span>
</div>
