
<div class="row">
    <div class="col-md-6">
        <h3>Cadastro de Recursos</h3>
    </div>
    <div class="col-md-2">
        <select class=" form-control" ng-model="filtroTipo" ng-change="filter(filtroTipo)">
            <option value="sem-filtro">Sem Filtro</option>
            <option value="CONSUMIVEL">CONSUMIVEL</option>
            <option value="FERRAMENTA">FERRAMENTA</option>
            <option value="MOBILIZADO">MOBILIZADO</option>
        </select> 
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-success" ng-click="send('add')">Cadastrar Novo</button>
    </div>
</div>
<br>

<table class="table">
    <thead>
        <tr>
            <td>Nome do Recusso</td>
            <td>Marca</td>
            <td>Quantidade</td>
            <td>Tipo do Recurso</td>
            <td>Data da Compra</td>
            <td>Observação</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in grid">
            <td>{{x.name}}</td>
            <td>{{x.brand}}</td>
            <td>{{x.quantity}}</td>
            <td>{{x.type}}</td>
            <td>{{formatarData(x.purchase)}}</td>
            <td>{{x.observation}}</td>
            <td width="200">
                <button class="btn btn-info" ng-click="send($index, x)">Editar</button>
                <button class="btn btn-danger" ng-click="del($index, x)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>
